body{
    background-color: hsl(212, 45%, 89%);
    
}
.mainTwo{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    margin: 25%;
    border-radius: 5%;
}
.imgBox{
    border-radius: 5%;
    margin: 5%;
}

.textBox{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.headline{
    font-size: 3.5rem;
    color: hsl(218, 44%, 22%);}
.subText{
    font-size: 2.5rem;
    color:  hsl(220, 15%, 55%);}

@media screen and (max-width: 600px) {

    body{
        background-color: hsl(212, 45%, 89%);
        
    }
    .mainTwo{
        display: flex;
        flex-direction: column;
        background-color: hsl(0, 0%, 100%);
        margin: 25%;
        border-radius: 5%;
    }
    .imgBox{
        border-radius: 5%;
        margin: 5%;
    }
    
    .textBox{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .headline{
        font-size: 1rem;
        color:hsl(218, 44%, 22%);}
    .subText{
        font-size: 1rem;
        color:  hsl(220, 15%, 55%);}

}